<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=message%></h1>
    <h2><%=error.status%></h2>
    <%=error.stack%>
  </body>
</html>

